<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navegation') %>

    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img src="/img/descarga.png" alt="logo" class="img-fluid">
        <h1 class="display-1 my-5 text-uppercase fw-bold">InnovateTech Solutions</h1>
        <a href="/testimonios" class="btn btn-primary w-25">testimonios</a>
        </div>
    </header> 
    <div class="container"> 
        <H1 class="display-1 d-flex justify-content-center">Mision</H1>
    <p class="d-flex justify-content-center">
        Misión: Nuestra misión es ofrecer soluciones tecnológicas innovadoras que impulsen el
crecimiento y la transformación digital de nuestros clientes. Nos comprometemos a
brindar productos y servicios de calidad que satisfagan las necesidades de manera
efectiva y <br>
    <H1 class="display-1 d-flex justify-content-center">Vision</H1>
    <p class="d-flex justify-content-center">
 Visión: Ser reconocidos como líderes en el sector tecnológico, destacando por nuestra
excelencia en la entrega de soluciones personalizadas y nuestra capacidad para
adaptarnos y abrazar las últimas tendencias tecnológicas. Aspiramos a establecer
relaciones duraderas con nuestros clientes, basadas en la confianza y el éxito mutuo. <br>
    <H1 class="display-1 d-flex justify-content-center">Quienes somos</H1>
    <p class="d-flex justify-content-center">
 Quiénes somos: Somos InnovateTech Solutions, una empresa líder en soluciones
tecnológicas innovadoras. Nuestro equipo está compuesto por expertos apasionados por
la tecnología, comprometidos en ofrecer resultados excepcionales a nuestros clientes.
Nos enfocamos en impulsar el crecimiento y la transformación digital de las empresas a
través de soluciones personalizadas y vanguardistas. Con una combinación de
experiencia y creatividad, estamos listos para ayudarte a alcanzar tus objetivos
tecnológicos y destacar en un mundo digital en constante evolución. <br>
    <H1 class="display-1 d-flex justify-content-center">Servicios</H1>
    <p class="d-flex justify-content-center">
 Servicios: En InnovateTech Solutions, ofrecemos una amplia gama de servicios
tecnológicos diseñados para satisfacer tus necesidades específicas. Desde el desarrollo
de aplicaciones web y móviles hasta el diseño de interfaces de usuario, estamos
preparados para enfrentar cualquier desafío tecnológico. 
Nuestros servicios incluyen:
• Desarrollo de software a medida
• Diseño y desarrollo web
• Desarrollo de aplicaciones móviles
• Consultoría tecnológica 
• Integración de sistemas
• Diseño de interfaces de usuario (UI/UX)
• Servicios de análisis de datos
• Seguridad y protección de datos
Confía en nuestro equipo altamente capacitado y experimentado para brindarte soluciones
de alta calidad que impulsen tu negocio hacia el éxito. <br>
    <H1 class="display-1 d-flex justify-content-center">Portafolio</H1>
    <p class="d-flex justify-content-center">
Portafolio de proyectos: Nuestro portafolio de proyectos muestra nuestra experiencia y
el impacto que hemos tenido en diversas industrias. Hemos trabajado con empresas de
diferentes tamaños y sectores, brindándoles soluciones tecnológicas a medida que han
mejorado su eficiencia operativa y su presencia en línea. Estos son algunos de nuestros
proyectos destacados:
• Proyecto A: Desarrollo de una plataforma de comercio electrónico escalable para una
empresa minorista líder.
• Proyecto B: Diseño y desarrollo de una aplicación móvil de reserva de citas para una
clínica médica.
• Proyecto C: Implementación de un sistema de gestión de inventario personalizado para
una cadena de distribución.
• Proyecto D: Diseño y desarrollo de un sitio web interactivo para una agencia de
marketing digital.
Estos proyectos son solo ejemplos de nuestro trabajo. Estamos listos para abordar nuevos
desafíos y encontrar soluciones innovadoras para tu empresa
 </p>
    </div>  
    
    <%- include ('partials/footer') %>       
</body>
</html>