<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include ('partials/head') %>

    <title><%=title%></title>
</head>
<body>

    <%- include ('partials/navegation')%>

    <section class="container vh-100 d-flex justify-content-center align-items-center">
       <div class="d-flex flex-column justify-content-center align-items-center">
           <h1 class="display-1 d-flex"> testimonio </h1>
           <p class="d-flex justify-content-center"> 
            Nuestros clientes han experimentado los beneficios de trabajar con InnovateTech Solutions. Aquí tienes algunos testimonios que reflejan la calidad y el impacto de nuestros servicios:
            • "La colaboración con InnovateTech Solutions ha sido excepcional. Han superado nuestras expectativas en términos de calidad, tiempo de entrega y atención al cliente". - Empresa XYZ
            • "El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades y nos brindó una solución personalizada que ha mejorado nuestra eficiencia operativa de manera significativa". - Empresa ABC
            • "Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante". - Empresa 123
            Estos testimonios son solo una muestra de la satisfacción de nuestros clientes. Trabajamos arduamente para garantizar la excelencia en cada proyecto y mantener relaciones comerciales sólidas y duraderas
            </p>
    </section>
    
    <p>Tu mejor eleccion</p>
    <%- include ('partials/footer')%>
    
</body>
</html>


